
.sponsorCard__body{
    background-color: bisque;
    margin: 6%;
    width: 85%;
    padding: 3%;
}
.sponsorCard__linkContainer--even{
    display: flex;
    flex-direction: row-reverse;
}
.sponsorCard__linkContainer--odd{
    display: flex;
    flex-direction: row;
}
.sponsorCard__image{
    width: 50%;
}

.sponsorCard__container--infoeven {
    text-align: right;
}
.sponsorCard__container--infoodd{
    text-align: left;
}



@media only screen and (max-width: 900px) {
    .sponsorCard__body--odd {
        margin-top: 15%;
        flex-direction: column;
    }
    .sponsorCard__body--even {
        margin-top: 15%;
        flex-direction: column;
    }
}
@media only screen and (max-width: 750px) {
    .sponsorCard__link--container{
        flex-direction: column;
        align-items: center;
    }
    .sponsorCard__textContainer--even{
        text-align: center;
    }
    .sponsorCard__textContainer--odd{
        text-align: center;
    }
}