.sponsorCard__body--even{
    margin: 10%;
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    padding: 5%;
}
.sponsorCard__body--odd{
    margin: 10%;
    display: flex;
    flex-direction: row;
    width: 85%;
    padding: 5%;
}

.sponsorCard__textContainer--even {
    text-align: right;
}
.sponsorCard__textContainer--odd{
    text-align: left;
}



@media only screen and (max-width: 900px) {
    .sponsorCard__body--odd {
        flex-direction: column;
    }
    .sponsorCard__body--even {
        flex-direction: column;
    }
}