.welcomeComponent__body{
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.welcomeComponent__container--text{
    color: white;
    display: flex;
    flex-direction: row;
    margin: 32vh auto auto auto;
}

