.navBar__toolBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navBar__logo{
    width: 100px;
    margin: 10%;
}
.navBar__Link{
    color: black;
    text-decoration: none;
}

.navBar__selectLanguage--body{
    width: 7%;
}
.navBar__selectLanguage--logo{
    width: 30px;
    height: 25px;
}