#footer{
  color: black;
  background-color: white;
  text-align: center;
  border: 5px;
  border-color: black;
  padding: 4px;
  position: fixed;
  font-size: .7em;
  width: 100%;
  left: 0;
  bottom: 0;
}
