@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.contactCard__body{
    width: 40%;
    height: 45%;
    margin:  auto;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    padding: 150px 50px;
    animation: slideIn 1s ease-out;
}

.contactCard__mailCard{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactCard__instaCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.contactCard__instaLink{
    text-decoration: none;
}
.contactCard__instaText{
    color:rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.contactCard__icon{
    width: 800px ;
    height: 800px;
}

@media only screen and (max-width: 900px) {
    .contactCard__body{
        width: 80%;
        margin-top: 20vh;
    }
}

@media only screen and (max-width: 600px) {
    .contactCard__body{
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
    }
}