.aboutMe__body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 5%;
    padding: 10%;
}

.aboutMe__textContainer{
    font-size: 1.6em;
    font-weight:600;
    width: 60%;
}
.aboutMe__link{
    color: black;
    background-color: white;
    text-decoration: none;
    border: 5px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: 900;
    padding: 1em;
}
@media only screen and (max-width: 1400px) {
    .aboutMe__body{
        height: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .aboutMe__body{
        background-position: -200px;
    }
}

@media only screen and (max-width: 800px) {
    .aboutMe__body{
        background-position: -900px;
    }
   .aboutMe__textContainer{
    font-size: 1.5em;
   }
}

@media only screen and (max-width: 620px) {
    .aboutMe__body{
        background-position: -1050px ;
    }
    .aboutMe__textContainer{
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 500px) {
    .aboutMe__body{
        background-position: -1100px;
    }
}

@media only screen and (max-width: 400px) {
    .aboutMe__body{
        background-position: -1600px;
    }
}

@media only screen and (max-width: 300px) {
    .aboutMe__body{
        background-position: -2500px;
    }
}
