.aboutMe__body{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.aboutMe__textContainer{
font-size: 1.6em;
font-weight: bolder;
width: 60%;
margin-top: 16%;
}

@media only screen and (max-width: 800px) {
   .aboutMe__textContainer{
    font-size: 1.5em;
   }
}

@media only screen and (max-width: 620px) {
    .aboutMe__textContainer{
     font-size: 1.3em;
    }
 }

